.affline {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  label {
    font-size: 36px;
  }
  input[type="number"] {
    font-size: 36px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 99px;
    height: 45px;
  }
  .flex {
    &:first-child {
      padding-top: 0px;
    }
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 36px;
    padding-top: 50px;
    color: #eeeeee;
  }
}
.sliders {
  margin-top: 30px;
  input[type="range"] {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.rotationPoint {
  display: flex;
  input {
    font-size: 36px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 99px;
    height: 45px;
  }
}
