.mainWrapper {
  display: grid;
  grid-template-columns: 600px 1fr;
}

.properties {
  background-color: #0f3460;
  padding: 33px;
  min-height: 1080px;
}

.view {
  height: 100%;
}

.toolBar {
  padding: 14px 10px;
  display: flex;
  justify-content: space-between;
  background-color: #f05454;
}

.backButton,
.infoButton {
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  width: 84px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.infoText {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: -0.015em;

  color: #eeeeee;
}
