.layout {
  background: #0f3460;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 31%;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f05454;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 11px;
  padding-right: 11px;
}
.back,
.info {
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  width: 84px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
select {
  height: 66px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: -0.015em;

  color: #000000;
}
.someText {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: -0.015em;

  color: #eeeeee;
}
